@model List<Book>

@{
    Layout = null;
    var count = 0;
}
<style>
    td {
        text-align: center;
        vertical-align: middle;
    }

    th {
        text-align: center;
    }

    .edit {
        color: white;
    }

    .delete:hover {
        color: black;
    }

    .greenn {
        color: #198754
    }
</style>

<table class="table table-hover table-striped" id="booksTable">
    <thead>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>CoverImage</th>
            <th>Author</th>
            <th>Category</th>
            <th>Editing</th>
            <th>Deleting</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="greenn">@item.Title</td>
                <td>@item.Price</td>
                <td>@item.Quantity</td>
                <td>
                    <img src="~/Images/@item.CoverImage" style="width:50px; height:50px" />
                </td>
                <td>@item.Author.Name</td>
                <td>@item.Category.Name</td>
                <td>
                    <a type="button" class="btn btn-warning edit" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td>
                <td><button type="button" class="btn btn-danger delete" value="@item.Id">Delete</button></td>
            </tr>

        }
    </tbody>
</table>



<script src="~/lib/jquery/dist/jquery.min.js"></script>
<!--Jquery Validation-->
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<!--Jquery unbotolsive-->
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<script>
    var deleteBtns = document.querySelectorAll("button.delete");
    deleteBtns.forEach(del => {
        del.addEventListener("click", (e) => {
            var id = del.value;
            var result = confirm("Are you sure to delete this book");
            if (result == true) {
                window.location.href = `/Book/Delete/${id}`
            }
            else {
                window.location.href = "/Book/IndexAdmin"
            }
        })
    })
</script>